---
namespace: "{{ ansible_galaxy_namespace }}"
name: "{{ shipmate_name }}"
description: "{{ shipmate_description }}"
version: "{{ shipmate_cargo_version }}"
readme: README.md
authors:
  - {{ shipmate_author }} ({{ shipmate_author_url }})
dependencies: { }
license:
  - MIT
tags:
{% for tag in shipmate_tags.split(',') %}
  - {{ tag }}
{% endfor %}
repository: "{{ shipmate_repository }}"
documentation: "{{ shipmate_docs }}"
homepage: "{{ shipmate_website }}"
issues: "{{ shipmate_issues }}"
build_ignore:
  - scripts
  - tests